.header{
    background-color: #ffffff;
    border-bottom: #eeeeee 1px solid;
    padding: 5px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
}
.link{
    float: left;
}
.btnText{
    color: white;
}
.butn {
    background-color: #FA8A72;
    border-radius: 25px;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-color: #FA8A72 !important;
}